[submodule "preprocess_tumor_normal_bam"]
	path = preprocess_tumor_normal_bam
	url = https://github.com/mskcc-cwl/preprocess_tumor_normal_bam
[submodule "fastq_qc"]
	path = fastq_qc
	url = https://github.com/mskcc-cwl/fastq_qc
